<footer class="uk-width-1-1 uk-background-secondary uk-grid uk-flex uk-flex-top uk-align-center uk-flex-center uk-margin-remove-vertical uk-padding-large uk-light" ukgrid>
    <div class="uk-section uk-padding-remove uk-margin-top uk-margin-bottom uk-text-center uk-text-left@l uk-width-1-4@m">
        <a class="uk-logo " href="index.html">
            <img src="https://i.imgur.com/0DGSyhj.png" width="150">
        </a>
    </div>
    <div class="uk-section uk-padding-remove uk-margin-top uk-text-center uk-text-left@l uk-width-1-4@m">
        <h4><a class="uk-text-lead uk-text-emphasis uk-text-muted" href="oferta.html">Nosotros</a></h4>
            <ul class="uk-list">
                <li><a class="uk-text-muted" href="#">Oferta Academica</a></li>
                <li><a class="uk-text-muted" href="#">Plan de Estudios</a></li>
                <li><a class="uk-text-muted" href="#">Campo Laboral</a></li>
            </ul>
        
    </div>
    <div class="uk-section uk-padding-remove uk-margin-top uk-text-center uk-text-left@l uk-width-1-4@m">
        <ul class="uk-list">
            <li><a class="uk-text-lead uk-text-emphasis uk-text-muted" href="noticias">Noticias</a></li>
            <li><a class="uk-text-lead uk-text-emphasis uk-text-muted" href="faqs">FAQ's</a></li>
            <li><a class="uk-text-lead uk-text-emphasis uk-text-muted" href="contacto">Contacto</a></li>
        </ul>

    </div>
    <div class="uk-section uk-padding-remove uk-margin-top uk-text-center uk-text-left@l uk-width-1-4@m">
        <ul class="uk-list uk-list-secondary">
            <li class=""><span uk-icon="facebook"></span>
                <a href="https://www.facebook.com/SistemasIestAnahuac">Ingeniería en Sistemas y Negocios Digitales IEST Anáhuacc</a>
                </li>
            <br>
            <li class=""><span uk-icon="instagram"></span><a href="https://www.instagram.com/isnd_iestanahuac/"> ISND IEST</a></li>
            <br>
            <li class=""><span uk-icon="youtube"></span><a href="https://www.youtube.com/channel/UC4_RSJYVDgFo0caHtlNTT9Q"> ISND IEST</a></li>
        </ul>
    </div>

</footer>
</div>

<script type="text/javascript" src="js/uikit.min.js"></script>
</body>
</html>