<%- include("./partials/header"); %>

<div class="uk-width-3-4@s uk-align-center" ukgrid>
  <div class="uk-margin-medium-left uk-margin-remove-left@s">
    <ul class="uk-breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class="uk-disabled"><a>Preguntas Frecuentes</a></li>
    </ul>
  </div>
  <div class="uk-container-large uk-comment-primary">
    <h1 class="uk-article-title">
      <a class="uk-link-reset" href="">Preguntas Frecuentes</a>
    </h1>
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href="#"
          >¿Cuántos semestra dura la carrera?</a
        >
        <div class="uk-accordion-content">
          <p>
            La carrera de Ingeniería en sistemas y negocios digitales tiene 9
            semestres, donde aprenderás todo lo necesario para desempeñarte en
            el área laboral de la tecnología y los negocios digitales.
          </p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#"
          >¿Es necesario que tenga un bacillerato en Ciencias Exactas o
          Físico-Matemático?</a
        >
        <div class="uk-accordion-content">
          <p>
            No es necesario tener un bachillerato en Ciencias Exactas o
            Físico-Matemático. Si las matemáticas no son tu fuerte, aquí
            aprenderás desde cero todo lo necesario.
          </p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">¿Es una carrera con futuro?</a>
        <div class="uk-accordion-content">
          <p>
            La respuesta es un gran SI. La demanda de programadores y
            desarrolladores de software ha incrementado de manera exponcial, aún
            más, muchas empresas están migrando a modelos de negocios digitales
            es ahí donde te puedes desempeñar como marketer digital!
          </p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">¿Por qué es la mejor carrera?</a>
        <div class="uk-accordion-content">
          <p>
            Es simple, toda empresa necesita un desarrollador de software, somos
            imprescindibles!
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<%- include("./partials/footer"); %>
