<%- include("./partials/header"); %>

<div class="uk-width-1-2@s uk-align-center">
	<ul class="uk-tab uk-margin-top uk-margin-remove-bottom"
		uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
		<li><a href="#">Oferta Académica</a></li>
		<li><a href="#">Materias</a></li>
		<li><a href="#">Egresados</a></li>
		<li><a href="#">Pruebas</a></li>
	</ul>
</div>

<div>
	<ul id="component-tab-left" class="uk-switcher">
		<li class="uk-width-3-4@s uk-align-center">
			<div class="uk-text-left uk-margin-remove">
				<!--<h1 class="uk-article-title"><a class="uk-link-reset" href="">Oferta Académica</a></h1>-->

				<p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>

				<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

					<ul class="uk-slideshow-items">
						<li>
							<img data-src="https://i.imgur.com/xrlyKNm.jpg" width="900" height="600" alt="" uk-cover
								uk-img="target: !.uk-slideshow-items">
						</li>
						<li>
							<img data-src="https://i.imgur.com/xrlyKNm.jpg" width="900" height="600" alt="" uk-cover
								uk-img="target: !.uk-slideshow-items">
						</li>
						<li>
							<img data-src="https://i.imgur.com/xrlyKNm.jpg" width="900" height="600" alt="" uk-cover
								uk-img="target: !.uk-slideshow-items">
						</li>
					</ul>

					<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
						uk-slideshow-item="previous"></a>
					<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
						uk-slideshow-item="next"></a>
				</div>
			</div>
		</li>
		<li class="uk-width-3-4@s uk-align-center">
			<div class="uk-text-left uk-margin-remove">

				<p class="uk-text-lead">Para ofrecer la mejor formación a nuestros alumnos, buscamos brindar siempre las
					materias más fundamentales e innovadoras, con el objeitvo de prepararlos para todas las necesidades
					laborales actuales.</p>

				<p>Algunas de las materias que ofrecemos se dividen en dos enfoques:</p>
			</div>
			<h3 class="uk-text-bold" id="materias">Programación, Redes e Innovación Tecnológica</h3>
			<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true; parallax: 150">
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Introducción a los Sistemas y Negocios
							Digitales</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Algoritmos y Programación</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Estructuras de datos</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Lenguajes Orientados a Objetos</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Ingeniería de Software</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Redes de Computadoras</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Realidad Virtual y Aumentada</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Bases de datos</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Seguridad Informática de Redes Forenses
						</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Desarrollo de Aplicaciones Web</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Programación de Dispositivos móviles.</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Inteligencia Artificial</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Aprendizaje Maquina</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>

			<h3 class="uk-text-bold" id="materias">Negocios Digitales y Administración</h3>
			<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true; parallax: 90">
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Introducción a la empresa</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Gestión de Negocios Digitales</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Legislación Informática</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Contabilidad y Costos para Ingeniería</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Tratamiento estadístico de la Información
						</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Mercadotecnia de Negocios Digitales</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Ingeniería Económica</h4>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
						<h4 class="uk-card-title uk-text-small uk-text-bold">Planeación Estratégica</h4>
						<p class="uk-text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</li>
		<li class="">
			<div class="uk-text-left uk-width-3-4@s uk-align-center">
				<!--<h1 class="uk-article-title"><a class="uk-link-reset" href="">Egresados</a></h1>-->
				<p class="uk-text-lead">Creemos que la mejor forma de demostrar nuestra capacidad de formar grandes
					Ingenieros en Sistemas es a través de los casos de éxito de nuestros graduados.</p>

				<p>Nuestros egresados son capaces de iniciar su propia empresa, consultoría u obtener un puesto como
					desarrollador en grandes empresas.</p>
			</div>
			<div class="uk-position-relative uk-visible-toggle" tabindex="-1"
				uk-slideshow="animation: fade; autoplay: true; ratio: 7:3">

				<ul class="uk-slideshow-items">
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-top-right uk-position-small">
							<h2 class="uk-margin-remove">Center</h2>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</li>
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" loading="lazy" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-bottom-left uk-position-small">
							<h3 class="uk-margin-remove">Bottom</h3>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</li>
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" loading="lazy" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-top-left uk-position-small">
							<h3 class="uk-margin-remove">Overlay Bottom</h3>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</li>
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" loading="lazy" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
							<h3 class="uk-margin-remove">Overlay Bottom Right</h3>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>

				<div class="uk-light">
					<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
						uk-slideshow-item="previous"></a>
					<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
						uk-slideshow-item="next"></a>
				</div>

			</div>

</div>
</li>
</ul>
</div>

<%- include("./partials/noticias"); %> <%- include("./partials/footer"); %>