<%- include("./partials/header"); %>

<div class="uk-width-1-2@s uk-align-center">
	<ul class="uk-tab uk-margin-top uk-margin-remove-bottom"
		uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
		<li><a href="#">Oferta Académica</a></li>
		<li><a href="#">Materias</a></li>
		<li><a href="#">Egresados</a></li>
		<li><a href="#">Prueba la tecnología</a></li>
	</ul>
</div>

<div>
	<ul id="component-tab-left" class="uk-switcher">
		<li class="uk-width-3-4@s uk-align-center">
			<div class="uk-margin-left uk-margin-right">

				<p class="uk-text-lead uk-text-center">Oferta Académica</p>

				<p class="uk-text-center uk-text-left@s">Como preparación para futuro Ingeniero en Sistemas y Negocios
					Digitales, se te
					impartirán materias relacionas directamente con la tecnología y la innovación,
					donde tendras que desarrollar tu pensamiento lógico y por supuesto, tu
					creatividad. Aprenderás, además de los aspectos técnicos, lo necesario para
					poder manejar tu propio negocio digital o bien desempeñarte en una empresa de
					este ámbito.</p>

				<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

					<ul class="uk-slideshow-items">
						<li>
							<img data-src="https://i.imgur.com/xrlyKNm.jpg" width="1800" height="1200" alt="" uk-cover
								uk-img="target: !.uk-slideshow-items">
						</li>
						<li>
							<img data-src="https://i.imgur.com/xrlyKNm.jpg" width="1800" height="1200" alt="" uk-cover
								uk-img="target: !.uk-slideshow-items">
						</li>
						<li>
							<img data-src="https://i.imgur.com/xrlyKNm.jpg" width="1800" height="1200" alt="" uk-cover
								uk-img="target: !.uk-slideshow-items">
						</li>
					</ul>

					<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
						uk-slideshow-item="previous"></a>
					<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
						uk-slideshow-item="next"></a>
				</div>
			</div>
		</li>
		<li class="uk-width-3-4@s uk-align-center">
			<div class="uk-text-left uk-margin-left uk-margin-right">

				<p class="uk-text-lead uk-text-center">Para ofrecer la mejor formación a nuestros alumnos, buscamos
					brindar siempre las materias más fundamentales e innovadoras, con el objeitvo de prepararlos para
					todas las necesidades
					laborales actuales.</p>

				<p class="uk-text-center uk-text-left@s">Algunas de las materias que ofrecemos se dividen en dos
					enfoques:</p>
			</div>
			<h3 class="uk-text-bold uk-margin-left uk-margin-right uk-text-center uk-text-left@s" id="materias">
				Programación, Redes e Innovación
				Tecnológica</h3>
			<div class="uk-child-width-1-2@s uk-child-width-1-3@m " uk-grid="masonry: true; parallax: 150">
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/primer-plano-hombre-negocios-tableta-digital_1098-549.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia1" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Introducción a los Sistemas y
									Negocios
									Digitales</h3>
							</a>
						</div>
					</div>
					<div id="materia1" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Introducción a los Sistemas y Negocios Digitales</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/primer-plano-hombre-negocios-tableta-digital_1098-549.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-text-middle">
						<!--<div class="uk-card-media-top">
							<img src="https://cdn2.aoe.com/fileadmin/_processed_/8/0/csm_AOE_930_590_Adapting_Digital_Models_AdobeStock_298000277_a156db1654.png"
								alt="">
						</div>-->
						<div class="uk-text-center uk-padding-small ">
							<a href="#materia2" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Algoritmos
									y Programación</h3>
							</a>
						</div>
					</div>
					<div id="materia2" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Algoritmos y Programación</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg"
									alt="">
								<p>Utilizarás Python como tu primer lenguaje de programación y comenzarás a
									desarrollar tu pensamiento lógico para la resolución de problemas.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/lenguaje-programacion-lugar-trabajo_1134-65.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia3" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Lenguaje
									Orientado a Objetos</h3>
							</a>
						</div>
					</div>
					<div id="materia3" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Lenguajes Orientado a Objetos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/lenguaje-programacion-lugar-trabajo_1134-65.jpg"
									alt="">
								<p>Java será el lenguaje con el que aprenderás sobre este tema, logrando
									desarrollar interfaces gráficas.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://cdn2.aoe.com/fileadmin/_processed_/8/0/csm_AOE_930_590_Adapting_Digital_Models_AdobeStock_298000277_a156db1654.png"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia4" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Mercadotecnia de Negocios Digitales</h3>
							</a>
						</div>
					</div>
					<div id="materia4" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Mercadotecnia de Negocios Digitales</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/grupo-hombres-negocios-ocasional-vestidos-que-discuten-ideas-oficina_7861-1633.jpg"
									alt="">
								<p>Dominarás todas las herramientas a través de las cuales puedes dar
									promoción y diferenciación a un negocio que se desenvuelva en este ámbito.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/mujer-joven-gafas-realidad-virtual-luces-neon_155003-17747.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia5" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Realidad
									Virtual y Aumentada</h3>
							</a>
						</div>
					</div>
					<div id="materia5" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Realidad Virtual y Aumentada</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/mujer-joven-gafas-realidad-virtual-luces-neon_155003-17747.jpg"
									alt="">
								<p>Podrás visualizar por medio de distintas tecnologías desde modelos 3D,
									videos y fotos de una manera innovadora. Desde Realidad Aumentada por
									geolocalización hasta Realidad Virtual utilizando Unity.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/ilustracion-3d-sala-servidores-elemento-diseno-datos-programacion-base-nodo_34663-12.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia6" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Estructura
									de Datos</h3>
							</a>
						</div>
					</div>
					<div id="materia6" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Estructura de Datos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/ilustracion-3d-sala-servidores-elemento-diseno-datos-programacion-base-nodo_34663-12.jpg"
									alt="">
								<p>Listas, Pilas, Arboles y mas son las estructuras que lograrás no solo
									programar, sino aplicar a casos específicos. Es sin duda un área que todo Ing.
									en Sistemas debe conocer.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/iconos-azules-brillantes-junto-taza-cafe-portatil_1134-63.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia7" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Ingeniería
									de Software</h3>
							</a>
						</div>
					</div>
					<div id="materia7" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Ingeniería de Software</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/iconos-azules-brillantes-junto-taza-cafe-portatil_1134-63.jpg"
									alt="">
								<p>Lograrás desarrollar software de calidad a través del seguimiento de
									metodologías, las cuales te permitirán crear un programa ordenado y
									confiable.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/icono-carga-nube-conexion-linea-placa-circuito_1379-890.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia8" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Bases de
									datos</h3>
							</a>
						</div>
					</div>
					<div id="materia8" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Bases de datos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/icono-carga-nube-conexion-linea-placa-circuito_1379-890.jpg"
									alt="">
								<p>En la actualidad, los datos son el nuevo petróleo. En esta materia podrás
									organizarlos y almacenarnos de distintas maneras para lograr consultarlos y
									procesarlos de manera eficiente y segura.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/conmutador-red-cables_1137-6.jpg" alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia9" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Redes de
									Computadoras</h3>
							</a>
						</div>
					</div>
					<div id="materia9" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Redes de Computadoras</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/conmutador-red-cables_1137-6.jpg"
									alt="">
								<p>La interconexión es uno de los aspectos más importantes en el área
									tecnológica. Aquí aprenderás cómo funciona esta entre múltiples equipos
									informáticos..</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/loei-tailandia-10-mayo-2017-mano-que-sostiene-samsung-s8-aplicacion-movil-instagram-pantalla_1232-4911.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia10" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Programación de dispositivos móviles
								</h3>
							</a>
						</div>
					</div>
					<div id="materia10" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Programación de dispositivos móviles</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/loei-tailandia-10-mayo-2017-mano-que-sostiene-samsung-s8-aplicacion-movil-instagram-pantalla_1232-4911.jpg"
									alt="">
								<p>Podrás desarrollar aplicaciones para smartphones y otros dispositivos de
									este tipo.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/concepto-tecnologia-ciberseguridad-internet-redes_2034-2123.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia11" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Seguridad
									Informática de Redes Forenses
								</h3>
							</a>
						</div>
					</div>
					<div id="materia11" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Seguridad Informática de Redes Forenses</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/concepto-tecnologia-ciberseguridad-internet-redes_2034-2123.jpg"
									alt="">
								<p>Esta área es sin duda una de las que tiene mayor crecimiento. Conocerás
									sobre ataques informáticos de todo tipo, lo que te servirá para resolver casos
									policiales o judiciales.</p>
							</div>
						</div>
					</div>
				</div>

				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/computadora-portatil-pantalla-holograma-que-muestra-codigo-fuente_163855-140.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia12" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Sistemas
									Operativos</h3>
							</a>
						</div>
					</div>
					<div id="materia12" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Sistemas Operativos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/computadora-portatil-pantalla-holograma-que-muestra-codigo-fuente_163855-140.jpg"
									alt="">
								<p>Obtendrás los conocimientos tanto a nivel teórico como práctico para
									comprender y detallar los problemas que enfrente los sistemas operativos y
									sus soluciones.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/mujer-haciendo-interfaz-aplicacion-moderna_1098-21575.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia13" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Administración de proyectos</h3>
							</a>
						</div>
					</div>
					<div id="materia13" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Administración de proyectos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/mujer-haciendo-interfaz-aplicacion-moderna_1098-21575.jpg"
									alt="">
								<p>Aplicarás tus habilidades, técnicas, metodologías y estrategias para el
									desarrollo de proyectos que cumplan con las expectativas y objetivos
									deseados.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/imagen-cerebro-humano_99433-298.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia17" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Aprendizaje
									Máquina</h3>
							</a>
						</div>
					</div>
					<div id="materia17" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Aprendizaje Máquina</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/imagen-cerebro-humano_99433-298.jpg"
									alt="">
								<p>Se trata de una disciplina que se encuentra dentro de la Inteligencia Artificial.
									Con ella se crean sistemas que aprenden automáticamente para una mejor
									adaptación.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/icono-tecnologia-nube-concepto-negocio-global-escritorio-vista-superior_117856-1886.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia14" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Infraestructura de computo en la nube
								</h3>
							</a>
						</div>
					</div>
					<div id="materia14" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Infraestructura de computo en la nube</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/icono-tecnologia-nube-concepto-negocio-global-escritorio-vista-superior_117856-1886.jpg"
									alt="">
								<p>Dominaras los elementos necesarios para cloud computing, como el sistema
									de hardware, recursos extraídos, almacenamiento y recursos de red.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/app-mujer-blanco-solucion-dos_1418-517.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia15" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Sistemas
									Integrados</h3>
							</a>
						</div>
					</div>
					<div id="materia15" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Sistemas Integrados</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/app-mujer-blanco-solucion-dos_1418-517.jpg"
									alt="">
								<p>A través de estos lograrás la mejora continua y la satisfacción de los clientes
									a través de la calidad gracias a la unificación de los sistemas de una empresa.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/imagen-doble-exposicion-3dillustration-humano-virtual_34663-58.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia16" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Inteligencia Artificial</h3>
							</a>
						</div>
					</div>
					<div id="materia16" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Inteligencia Artificial</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/imagen-doble-exposicion-3dillustration-humano-virtual_34663-58.jpg"
									alt="">
								<p>AI es en definitiva un área que proyecta un gran crecimiento exponencial.
									Lograrás la creación de máquinas capaces de realizar tareas humanas.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/hombre-trabajando-teclado-computadora-portatil-interfaz-grafica-usuario_31965-4406.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia19" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">Métodos
									Numéricos</h3>
							</a>
						</div>
					</div>
					<div id="materia19" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Métodos Numéricos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/hombre-trabajando-teclado-computadora-portatil-interfaz-grafica-usuario_31965-4406.jpg"
									alt="">
								<p>Aplicarás algoritmos para resolver operaciones matemáticas complejas.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/primer-plano-hombre-negocios-tableta-digital_1098-549.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia18" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Inteligencia de Negocios</h3>
							</a>
						</div>
					</div>
					<div id="materia18" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Inteligencia de Negocios</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/primer-plano-hombre-negocios-tableta-digital_1098-549.jpg"
									alt="">
								<p>Aprenderás sobre los procesos, aplicaciones y tecnologías por los que
									puedes obtener fácilmente datos de los Sistemas de Gestión Empresarial para
									interpretarlos y tomar decisiones.</p>
							</div>
						</div>
					</div>
				</div>

				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/resumen-simbolo-grafico-que-usa-telefono_1134-1415.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia20" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Procesamiento Inteligente de Datos</h3>
							</a>
						</div>
					</div>
					<div id="materia20" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Procesamiento Inteligente de Datos</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/resumen-simbolo-grafico-que-usa-telefono_1134-1415.jpg"
									alt="">
								<p>Obtendrás información relevante a través de la destilación de información
									que ha sido colectada, clasificada y organizada.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h3 class="uk-text-bold uk-margin-left uk-margin-right uk-text-center uk-text-left@s" id="materias">Negocios
				Digitales y Administración</h3>
			<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true; parallax: 90">
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/imagen-doble-exposicion-muchas-personas-negocios_31965-2289.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia21" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Introducción a la empresa</h3>
							</a>
						</div>
					</div>
					<div id="materia21" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Introducción a la empresa</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/imagen-doble-exposicion-muchas-personas-negocios_31965-2289.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/grafico-exacto-primer-plano-bitcoin-dolar_151013-12386.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia22" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Gestión de Negocios Digitales</h3>
							</a>
						</div>
					</div>
					<div id="materia22" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Gestión de Negocios Digitales</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/grafico-exacto-primer-plano-bitcoin-dolar_151013-12386.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/bufete-abogados-estatua-justicia-escalas-abogado-trabajando-tableta-digital_73110-7863.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia23" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Legislación Informática</h3>
							</a>
						</div>
					</div>
					<div id="materia23" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Legislación Informática</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/bufete-abogados-estatua-justicia-escalas-abogado-trabajando-tableta-digital_73110-7863.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/concepto-financiero-iconos-cubos-madera-calculadora-mesa-azul-plano-lay_176474-9440.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia24" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Contabilidad y Costos para Ingeniería</h3>
							</a>
						</div>
					</div>
					<div id="materia24" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Contabilidad y Costos para Ingeniería</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/concepto-financiero-iconos-cubos-madera-calculadora-mesa-azul-plano-lay_176474-9440.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/manos-usando-pantalla-tableta-que-muestra-estadisticas-datos-comerciales_53876-42762.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia25" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Tratamiento estadístico de la Información</h3>
							</a>
						</div>
					</div>
					<div id="materia25" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Tratamiento estadístico de la Información</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/manos-usando-pantalla-tableta-que-muestra-estadisticas-datos-comerciales_53876-42762.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<!--<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/gente-negocios-analizando-estadisticas-concepto-financiero_53876-23509.jpg"
								alt="">
						</div>-->
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia26" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Planeación Estratégica</h3>
							</a>
						</div>
					</div>
					<div id="materia26" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Planeación Estratégica</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/gente-negocios-analizando-estadisticas-concepto-financiero_53876-23509.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="https://image.freepik.com/foto-gratis/empresario-haciendo-analisis-negocios_158043-20.jpg"
								alt="">
						</div>
						<div class="uk-card-body uk-text-center uk-padding-small">
							<a href="#materia27" uk-toggle>
								<h3 class="uk-card-title uk-text-small uk-text-bold uk-margin-remove-bottom">
									Ingeniería Económica</h3>
							</a>
						</div>
					</div>
					<div id="materia27" uk-modal>
						<div class="uk-modal-dialog">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							<div class="uk-modal-header">
								<h2 class="uk-modal-title">Ingeniería Económica</h2>
							</div>
							<div class="uk-modal-body">
								<img src="https://image.freepik.com/foto-gratis/empresario-haciendo-analisis-negocios_158043-20.jpg"
									alt="">
								<p>Conoceras los conceptos técnicos básicos de los equipos computacionales y
									el funcionamiento de los negocios exclusivamente digitales.</p>
							</div>
						</div>
					</div>
				</div>

		</li>
		<li class="">
			<div class="uk-width-3-4@s uk-align-center">
				<p class="uk-text-lead uk-text-center uk-margin-left uk-margin-right">No hay mejor manera de conocer
					sobre esta carrera que a través de las
					experiencias.</p>

				<p class="uk-text-center uk-text-left@s uk-margin-left uk-margin-right">Es por ello que en esta sección
					podras encontrar los testimonios
					que nuestros egresados tienen para ti. Se trata de un grupo de personas que se
					han enfocado en diferentes ámbitos, ya que esta carrer es en definitiva una de las
					mas diversas. Conócelos y encuentra en sus historias de éxito los motivos por los
					cuales deberías convertirte en un Ingeniero en Sistemas y Negocios Digitales.</p>
			</div>
			<div class="uk-position-relative uk-visible-toggle" tabindex="-1"
				uk-slideshow="animation: fade; autoplay: true; ratio: 7:3">

				<ul class="uk-slideshow-items">
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-top-right uk-position-small">
							<h2 class="uk-margin-remove">Center</h2>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</li>
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" loading="lazy" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-bottom-left uk-position-small">
							<h3 class="uk-margin-remove">Bottom</h3>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</li>
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" loading="lazy" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-top-left uk-position-small">
							<h3 class="uk-margin-remove">Overlay Bottom</h3>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</li>
					<li>
						<img src="https://i.imgur.com/xrlyKNm.jpg" alt="" loading="lazy" uk-cover>
						<div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small">
							<h3 class="uk-margin-remove">Overlay Bottom Right</h3>
							<p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
						</div>
					</li>
				</ul>

				<div class="uk-light">
					<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
						uk-slideshow-item="previous"></a>
					<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
						uk-slideshow-item="next"></a>
				</div>

			</div>
		</li>
		<li class="uk-width-3-4@s uk-align-center">
			<div class="uk-margin-left uk-margin-right">

				<p class="uk-text-lead uk-text-center">Egresados</p>

				<p class="uk-text-center uk-text-left@s">No hay mejor manera de conocer sobre esta carrera que a través
					de las
					experiencias. Es por ello que en esta sección podras encontrar los testimonios
					que nuestros egresados tienen para ti. Se trata de un grupo de personas que se
					han enfocado en diferentes ámbitos, ya que esta carrer es en definitiva una de las
					mas diversas. Conócelos y encuentra en sus historias de éxito los motivos por los
					cuales deberías convertirte en un Ingeniero en Sistemas y Negocios Digitales.</p>

				<div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
					<div class="uk-card-media-left uk-cover-container">
						<img src="https://i.imgur.com/4As46v6.png" alt="">
					</div>
					<div class="uk-flex uk-flex-middle">
						<div class="uk-text-center uk-text-left@s">
							<h3 class="uk-card-title">Media Left</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt.
							</p>
						</div>

					</div>
				</div>
			</div>

		</li>
</div>
</li>
</ul>
</div>

<%- include("./partials/noticias"); %> <%- include("./partials/footer"); %>