<%- include("./partials/header") %>
<div class="uk-background-cover  uk-panel uk-flex uk-flex-center uk-flex-middle"
    style="background-image: url(https://i.imgur.com/NyJioEL.jpg);" uk-height-viewport>
    <div>
        <h3 class="uk-text-center uk-text-lead uk-text-bold uk-text-muted">
            We are students, developers, creative, innovative, marketers. <br>We are iestudevs.
        </h3>
        <a class="" href="https://iestudevs.com/"><button
                class=" uk-align-center uk-button uk-button-secondary uk-button-large">Conócenos</button></a>
    </div>

</div>
<%- include("./partials/footer") %>